<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">You've Discovered My All Secret!</h1>

      <% usersWithSecrets.forEach(function(user){ %>
        <p class="secret-text">
          <%= user.secret %>
        </p>
        <% }); %>
          <hr>

          <a onclick="handleOnclick()" class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
          <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    </div>
  </div>

  <%- include('partials/footer') %>

    <script>
      const Logout = document.getElementById("log-out");

      function handleOnclick() {
        var currentUrl = window.location.href;
        console.log(currentUrl);

        // Remove the URL parameters
        var newUrl = currentUrl.split('?')[0];

        // Redirect to the new URL
        window.location.href = newUrl;
        sessionStorage.clear();
        window.location.replace('/');
      }

    </script>